@using DaMi.SO.Manager.Endpoints.OrderMasters.DTO

@inherits XComponent<OrderMasterTableModel>
@layout _Layout
@inject IStringLocalizer<ShareResource> L
<div class="card">
    <div class="card-header">
        <div class=" container-fluid mx-0 my-0">
            <div class="row">
                <ul class="nav justify-content-sm-start col-10 d-flex" id="pills-tab" role="tablist">
                    <li class="nav-item mx-2" role="presentation">
                        <a href="#pills-all" class="btn btn-outline-dark" data-toggle="tab">Tất cả đơn hàng</a>
                    </li>
                    <li class="nav-item mx-2" role="presentation">
                        <a href="#pills-tracking" class="btn btn btn-outline-info" data-toggle="tab">
                            Theo dõi
                        </a>
                    </li>
                    <li class="nav-item mx-2" role="presentation">
                        <a href="#pills-unfinish" class="btn btn-outline-primary" data-toggle="tab">
                            Đang triển khai
                        </a>
                    </li>
                    <li class="nav-item mx-2" role="presentation">
                        <a href="#pills-finish" class="btn btn-outline-success" data-toggle="tab">Đã hoàn thành</a>
                    </li>
                    <li class="nav-item mx-2" role="presentation">
                        <a href="#pills-cancel" class="btn btn-outline-danger" data-toggle="tab">Đơn bị hủy</a>
                    </li>
                </ul>
                <div class="col-2 justify-content-end d-flex">
                    <a href="/OrderMaster/New" class="btn btn-outline-success">
                        Tạo mới
                    </a>
                </div>
            </div>

        </div>
    </div>
    <div class="card-body">
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-all" role="tabpanel" aria-labelledby="pills-all-tab">
                <TabContent TableId="all" Model="Model.OrderMasters"></TabContent>
            </div>
            <div class="tab-pane fade" id="pills-tracking" role="tabpanel" aria-labelledby="pills-tracking">
                <TabContent TableId="tracking"
                    Model='Model.OrderMasters.Where(o => o.OrderStatus.OrderStatusId == "OS11")'>
                </TabContent>
            </div>
            <div class="tab-pane fade" id="pills-unfinish" role="tabpanel" aria-labelledby="pills-unfinish-tab">
                <TabContent TableId="unfinish"
                    Model='Model.OrderMasters .Where(o => o.OrderStatus.IsAcceptStatus
                                                    || (o.OrderStatus.CanChangeStatus && o.OrderStatus.OrderStatusId != "OS99"))'>
                </TabContent>
            </div>
            <div class="tab-pane fade" id="pills-finish" role="tabpanel" aria-labelledby="pills-finish-tab">
                <TabContent TableId="finish"
                    Model='Model.OrderMasters.Where(o => o.OrderStatus.OrderStatusId == "OS99")'></TabContent>
            </div>
            <div class="tab-pane fade" id="pills-cancel" role="tabpanel" aria-labelledby="pills-cancel-tab">
                <TabContent TableId="cancel" Model="Model.OrderMasters.Where(o => o.OrderStatus.IsCancelStatus)">
                </TabContent>
            </div>
        </div>
    </div>
</div>

<script>

</script>