@using DaMi.SO.Manager.Data.Models
@using DaMi.SO.Manager.Endpoints.OrderMasters.DTO
@inject IStringLocalizer<ShareResource> L
@inject IHttpContextAccessor httpContextAccessor
@inherits XComponent<IEnumerable<OrderMasterSimpleView>>
<Table Models="@Model" TItem="OrderMasterSimpleView"
    SortAbleFields='["Số đơn hàng", "Khách hàng", "Trạng thái", "NV triển khai", "Kiểu đơn hàng"]'
    RowStyleColor="Color" TableId="@TableId">
    <NavLabel>
        @L["Số đơn hàng"]
    </NavLabel>
    <NavKey Context="o">
        <a href="/OrderMaster/Details/@o.RowUniqueId">@o.OrderNo</a>
    </NavKey>
    <ActionLabel></ActionLabel>
    <Action Context="o">
        <div>
            @if (o.OrderStatusName == "Mới tạo"
            && (httpContextAccessor.HttpContext?.User.HasClaim(f => f.Type == nameof(Permision.UpdateOrder)) ?? false))
            {
                <a href="/OrderMaster/Edit/@o.RowUniqueId"><span class="mdi mdi-pencil-box"></span></a>
            }
            <a href="/OrderMaster/Details/@o.RowUniqueId"><span class="mdi mdi-magnify"></span></a>
        </div>
    </Action>
</Table>
@code {
    public static Func<OrderMasterSimpleView, string> Color = (o) => o.OrderStatusName switch
    {
        "Đơn bị hủy" => "text-danger",
        "Tạm ngưng" => "text-warning",
        "Đã duyệt" => "text-primary",
        "Đã hoàn thành" => "text-success",
        _ => "text-black"
    };

    [Parameter] public string? TableId { get; set; }
}
