@using Microsoft.Extensions.Localization
@inherits XComponent<HomeModel>
@layout _Layout
@inject IStringLocalizer<ShareResource> L

<h3>Hello @Model.Hello times, with localization: @L[Model.Hello.ToString()]</h3>
