@using DaMi.SO.Manager.Data.Models
@inherits XComponent<Employee>
<!DOCTYPE html>
<html lang="en" class="h-100" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>DaMi</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.png">
    <link href="/css/style.css" rel="stylesheet">

    <script src="/js/start.js"></script>
</head>

<body class="h-100" data-typography="poppins" data-theme-version="light" data-layout="vertical"
    data-nav-headerbg="color_1" data-headerbg="color_1" data-sidebar-style="full" data-sibebarbg="color_1"
    data-sidebar-position="fixed" data-header-position="fixed" data-container="wide" direction="ltr">
    <div class="authincation h-100">
        <div class="container-fluid h-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-6">
                    <div class="authincation-content">
                        <div class="row no-gutters">
                            <div class="col-xl-12">
                                <div class="auth-form">
                                    <h4 class="text-center mb-4">Đổi mật khẩu</h4>
                                    <form method="post" onsubmit="return verifyPassword()">
                                        <div class="form-group">
                                            <label><strong>Nhân viên: </strong></label>
                                            <p>@Model.EmployeeName</p>
                                            <input type="hidden" id="UserName" name="UserName" value="@Model.EmployeeId"
                                                >
                                        </div>
                                        <div class="form-group">
                                            <label><strong>Mật khẩu</strong></label>
                                            <input type="password" id='password' name="newPassword"
                                                class="form-control">
                                            <span id='passwordError' class='text-danger'>
                                            </span>
                                        </div>
                                        <div class="form-group">
                                            <label><strong>Xác nhận</strong></label>
                                            <input type="password" id="confirmpass" class="form-control">
                                            <span id='confirmError' class='text-danger'>
                                            </span>
                                        </div>
                                        <div class="text-center mt-4">
                                            <input type="submit" class="btn btn-primary btn-block" value="Đổi mật khẩu"/>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="/vendor/global/global.min.js"></script>
    <script src="/js/quixnav-init.js"></script>
    
    <script src="/js/app.js"></script>

    <!--endRemoveIf(production)-->
</body>

</html>
