.text-black {
    color: black !important;
    text-transform: none !important;
}

.big-checkbox {
    width: 30px;
    height: 30px;
}

i {
    font-size: larger;
}

a {
    color: blue;
}

input[type='checkbox']:checked:after {
    display: none !important;
}

input[type='checkbox']::after {
    display: none !important;
}

.currency {
    text-align: right;
}

.currency::after {
    content: "₫";
}