.text-black {
    color: black !important;
    text-transform: none !important;
}

span.mdi {
    font-size: large;
}

.big-checkbox {
    width: 30px;
    height: 30px;
}

i {
    font-size: larger;
}

a {
    color: blue;
}

input[type='checkbox']:checked:after {
    display: none !important;
}

input[type='checkbox']::after {
    display: none !important;
}

.currency {
    text-align: right;
}

.pink {
    color: #ff00ff !important;
}

.red {
    color: red !important;
}

.green {
    color: green !important;
}

.blue {
    color: blue !important;
}

.orange {
    color: orange !important;
}

.gray {
    color: #666666 !important;
}

td.bg-pink {
    background-color: pink !important;
}

td.bg-orange {
    background-color: orange !important;
}

td.bg-gray {
    background-color: gray !important;
}

table thead th {
    text-transform: none !important;
}

tr.no-padding td:has(input) {
    padding: 0 !important;
    margin: 0 !important;
}